html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: manrope, sans-serif;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
}

@font-face {
    font-family: manrope;
    src: url('../Fonts/Manrope-VariableFont_wght.ttf');
}